.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.inner {
    box-sizing: unset;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    img {
        height: 36px;
    }
}
.search {
    width: 329px;
    height: 22px;
    padding: 12px 16px;
    padding-right: 0;
    box-sizing: unset;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 92px;
    overflow: hidden;
    &:focus-within {
        border: 1.5px solid rgba(0, 0, 0, 0.3);
    }
    input {
        flex: 1;
        background: transparent;
        font-size: 16px;
        caret-color: rgb(254, 44, 85);
        padding-right: 12px;
        &:not(:placeholder-shown) ~ button i {
            color: rgba(0, 0, 0, 0.667);
        }
        &:not(:placeholder-shown) ~ i {
            display: inline-block;
        }
    }
    i:not(button i) {
        display: none;
        color: rgba(0, 0, 0, 0.3);
    }
    span {
        width: 1px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-left: 12px;
    }
    button {
        padding: 13px 16px;
        &:hover {
            background-color: rgba(22, 24, 35, 0.1);
        }
    }
    button i {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.3);
    }
}
.search-result {
    width: 329px;
    .search-title {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        padding: 8px;
        font-size: 15px;
    }
}
.action {
    display: flex;
}
.menu {
    margin: 0px 12px;
    position: relative;
    .avatar {
        position: absolute;
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        top: 0px;
        left: 0px;
    }
}
.menu-list {
    display: flex;
    flex-direction: column;
}
